<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{Title}}</title>
</head>

<body>
  <form action="/signup" method="POST">
    <div>
      <label for="name">昵称</label>
      <input type="text" id="name" name="name" placeholder="请输入昵称" />
    </div>
    <div>
      <label for="password">密码</label>
      <input type="password" id="password" name="password" placeholder="请输入密码" />
    </div>
    <button type="submit">注册</button>
  </form>
</body>

</html>